extends layout

block scripts
  script(type="text/javascript")
    console.log("hello")
    var socket = io.connect();
    socket.on('mqtt_message', function (topic, message, packet ) {
      console.log(topic, message, packet);
      var li = document.createElement('li');
      var state = 'on';
      if(message == '0') state = 'off';
      var text = document.createTextNode(topic + ' ' + state);
      li.appendChild(text);
      var ul = document.getElementById("messages");
      ul.appendChild(li);
    });

block content
  h1= title
  ul#messages
